*.iml
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.om*
.kotlin
.superpowers
docs
.idea


keystore.properties
*.jks
*.keystore
release
release.sh
